nameOverride: ""
fullnameOverride: ""

image:
  repository: "989496898833.dkr.ecr.eu-north-1.amazonaws.com/lab-ecr"
  tag: v1.0.2
  pullPolicy: IfNotPresent

replicaCount: 1
containerPort: 8000

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70

ingress:
  enabled: false
  className: "nginx"
  host: "yourdomain.com"
  path: /
  pathType: Prefix
  tls: true

secret:
  enabled: false
  existingName: "django-db"

env:
  DJANGO_ALLOWED_HOSTS: "*"