nameOverride: ""
fullnameOverride: ""

image:
  repository: "<ECR_REPOSITORY_URL>"
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 2

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

env: {}

secret:
  enabled: false
  existingName: ""
  data: {}

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70

ingress:
  enabled: false
  className: "nginx"
  host: "yourdomain.com"
  path: /
  pathType: Prefix
  tls: true
