server:
  service:
    type: LoadBalancer
    port: 443

applications:
  - name: django-app
    namespace: default
    project: default
    source:
      repoURL: https://github.com/TatianaSnisarenko/dev-ops-ci-cd.git
      path: lesson-8-9/charts/django-app
      targetRevision: lesson-8-9
      helm:
        valueFiles:
          - values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repoConfig:
  insecure: "true"
  enableLfs: "true"
